# Proyecto NETFLIX
-------------------
## Fase 2
-------------------

### Integrantes: Juan Pablo Ramírez Bernal, Alexi Lopez Gónzalez, Juan Camilo Jara Burgos, John Sebastian García Moreno

Primero se debe cargar el entorno de trabajo.

In [1]:
#se importan los datos de pandas
#es usado para cargar el entorno de trabajo
import pandas as pd
from textblob import TextBlob
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
print("---------------------------------------------")
print("Las configuraciones inicales se han cargado")
print("---------------------------------------------")

---------------------------------------------
Las configuraciones inicales se han cargado
---------------------------------------------

Luego, se debe ubicar la ruta del archivo.

In [2]:
#Ubicar los datos, su ruta 
netflix_filepath="../NOTEBOOKS/netflix_titles.csv"
print("-----------------------")
print("Se encontro el archivo")
print("-----------------------")

-----------------------
Se encontro el archivo
-----------------------

# Pre procesamiento de los datos

Ahora realizamos una de las operaciones más importantes, el preprocesamiento, donde arreglaremos y estableceremos un buen formateo de nuestros datos.

Se procede entonces a cargar los datos.

In [3]:
#Cargar y leer los datos 
nf=pd.read_csv(netflix_filepath)
#saber el tamaño de los datos
nf.shape

(7787, 12)

Para verificar que los datos estén bien formateados.

In [4]:
# Verificar que los datos esten bien formateados
nf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,Dramas,In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,Dramas,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,Horror,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,Action & Adventure,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

Verificamos que valores se han repetido.

In [5]:
#Verfica valores repetidos
nf.duplicated().sum()

0

Verificar que las categorías sean únicas y no estén dispersas en sub categorías

In [6]:
nf.listed_in.unique()

array(['Dramas', 'Horror', 'Action & Adventure', 'Documentary', 'Sci-Fi',
       'Comedy', 'Fantasy', 'Reality show', 'Romantic', 'Musical'],
      dtype=object)

In [7]:
nf.listed_in.describe()

count       7787
unique        10
top       Dramas
freq        2582
Name: listed_in, dtype: object

Se observa que en la columna 4, primera fila hay un dato NaN o mejor conocido como (Not a Number), esto nos indica la falta de un valor asignado, ¿En cuantas columnas pasa esto?

In [8]:
print("Porcentaje de valores faltantes en cada columna")
#sacar el porcentaje de datos faltantes
p_v_f=nf.isna().sum()/len(nf)*100
p_v_f[p_v_f!=0]

Porcentaje de valores faltantes en cada columna

director      30.679337
cast           9.220496
country        6.510851
date_added     0.128419
rating         0.089893
dtype: float64

En nuestro conjunto de datos, hay valores que no se utilizaran pues no son relevantes estos son, así que desechémoslos.

In [9]:
#Tomar el dato no relevante y sacarlo
nf.drop("show_id",axis=1,inplace=True)
nf.drop("cast",axis=1,inplace=True)
nf.drop("title",axis=1,inplace=True)
nf.drop("director",axis=1,inplace=True)
nf.drop("release_year",axis=1,inplace=True)
nf.drop("duration",axis=1,inplace=True)

Llenar los valores faltantes

In [10]:
#Para los datos de país y rating
nf["country"]=nf["country"].fillna(nf["country"].mode()[0])
nf["rating"]=nf["rating"].fillna(nf["rating"].mode()[0])

Tenemos datos que no poseen valor en **data_added**, así que lo que realizaremos será encontrar los datos faltantes y sacarlos, ya que el intentar llenar este dato nos enredara más el trabajo.

In [11]:
print('************************************')
print("Datos Faltantes en **date_added**")
print('************************************')
#llenar los datos faltantes y ubicarlos
nf[nf.date_added.isna()]

************************************
Datos Faltantes en **date_added**
************************************

,type,country,date_added,rating,listed_in,description
258,TV Show,United Kingdom,NaN,TV-MA,Dramas,"Set during the Russian Revolution, this comic ..."
549,TV Show,United States,NaN,TV-PG,Documentary,This CNN original series has chef Anthony Bour...
2263,TV Show,United States,NaN,TV-PG,Comedy,Frasier Crane is a snooty but lovable Seattle ...
2288,TV Show,United States,NaN,TV-14,Comedy,This hit sitcom follows the merry misadventure...
2555,TV Show,Japan,NaN,TV-14,Fantasy,"On the surface, the Social Welfare Agency appe..."
3374,TV Show,United States,NaN,TV-Y,Fantasy,A wacky rabbit and his gang of animal pals hav...
3492,TV Show,United States,NaN,TV-14,Dramas,"This irreverent sitcom featues Ludovico, Feder..."
3946,TV Show,United States,NaN,TV-MA,Comedy,"Marc Maron stars as Marc Maron, who interviews..."
5137,TV Show,United States,NaN,NR,Action & Adventure,"This parody of first-person shooter games, mil..."
6065,TV Show,Australia,NaN,TV-Y7,Fantasy,"Imagine your worst fears, then multiply them: ..."

In [12]:
#Sacar los datos de esas filas 
nf=nf[nf["date_added"].notna()]

Comprobemos que tal se ven nuestros datos ahora

In [13]:
#Con esto verificamos que datos son los faltantes y que me los sume
nf.isna().sum()

type           0
country        0
date_added     0
rating         0
listed_in      0
description    0
dtype: int64

Luego lo que haremos será tomar los datos de rating y convertirlos a su público objetivo o sea, TV_PG= grown kids.

In [14]:
#Lo que haremos en este apratado es cambiar las categorias por uel público al que van dirigido
obj_public = {'G': 'Childs', 'TV-G': 'Childs', 'TV-Y': 'Childs','PG': 'Grown Kids', 'TV-Y7': 'Grown Kids',
              'TV-Y7-FV': 'Grown Kids', 'TV-PG': 'Grown Kids', 'TV-14': 'Teens','PG-13': 'Teens','TV-MA': 'Adults',
              'R': 'Adults', 'UR': 'Adults', 'NC-17': 'Adults','NR': 'Adults',}

#Luego es remplazar los valores aneriores con los datos previamente asignados
nf['obj_ages'] = nf['rating'].replace(obj_public)
nf['obj_ages'].unique() 
nf

,type,country,date_added,rating,listed_in,description,obj_ages
0,TV Show,Brazil,"August 14, 2020",TV-MA,Dramas,In a future where the elite inhabit an island ...,Adults
1,Movie,Mexico,"December 23, 2016",TV-MA,Dramas,After a devastating earthquake hits Mexico Cit...,Adults
2,Movie,Singapore,"December 20, 2018",R,Horror,"When an army recruit is found dead, his fellow...",Adults
3,Movie,United States,"November 16, 2017",PG-13,Action & Adventure,"In a postapocalyptic world, rag-doll robots hi...",Teens
4,Movie,United States,"January 1, 2020",PG-13,Dramas,A brilliant group of students become card-coun...,Teens
...,...,...,...,...,...,...,...
7782,Movie,"Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,Dramas,When Lebanon's Civil War deprives Zozo of his ...,Adults
7783,Movie,India,"March 2, 2019",TV-14,Dramas,A scrappy but poor boy worms his way into a ty...,Teens
7784,Movie,United States,"September 25, 2020",TV-MA,Documentary,"In this documentary, South African rapper Nast...",Adults
7785,TV Show,Australia,"October 31, 2020",TV-PG,Reality show,Dessert wizard Adriano Zumbo looks for the nex...,Grown Kids
7786,Movie,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,Documentary,This documentary delves into the mystique behi...,Adults

Ahora, convertiremos las películas y series en valores numéricos, esto pues son los datos que escogimos como objetivo.

In [15]:
#Usaremos Label Encoder, pues este tiene la particularidad de codificar las etiquetas en valor entre 0 y 1, es
#precisamente lo que queremos lograr

from sklearn.preprocessing import LabelEncoder

k_type = LabelEncoder()
k_type.fit(nf['type'])
nf['k_type'] = k_type.transform(nf['type'])

#Desechamos el valor de type actual
nf.drop('type', axis='columns', inplace=True)

Repetir la operación con Países

In [16]:
k_country = LabelEncoder()
k_country.fit(nf['country'])
nf['k_country'] = k_country.transform(nf['country'])
#Desechamos el valor de country actual
nf.drop('country', axis='columns', inplace=True)

Repetirmos la operación con Rating

In [17]:
k_rating = LabelEncoder()
k_rating.fit(nf['rating'])
nf['k_rating'] = k_rating.transform(nf['rating'])
#Desechamos el valor de rating actual
nf.drop('rating', axis='columns', inplace=True)

Repetimos la operación con Categorías

In [18]:
k_listed_in = LabelEncoder()
k_listed_in.fit(nf['listed_in'])
nf['k_listed_in'] = k_listed_in.transform(nf['listed_in'])
#Desechamos el valor de listed_in actual
nf.drop('listed_in', axis='columns', inplace=True)

Repetimos la operación con Obj_ages

In [19]:
k_obj_ages= LabelEncoder()
k_obj_ages.fit(nf['obj_ages'])
nf['k_obj_ages'] = k_obj_ages.transform(nf['obj_ages'])
#Desechamos el valor de obj_ages actual
nf.drop('obj_ages', axis='columns', inplace=True)

Pero, hay una variable a la que le debemos realizar una operación mucho más compleja, debemos de realizar un análisis de sentimientos para la descripción de cada película.

Creamos y asignamos la variable el valor de description y le pedimos que para cada dato le haga la conversión y 
la agregue en el dataFrame

In [20]:
from textblob import TextBlob
nf['polarity']=nf['description'].apply(lambda x: TextBlob(x).sentiment.polarity)
nf['subjectivity']=nf['description'].apply(lambda x: TextBlob(x).sentiment.subjectivity)
# Desechar el valor de description 
nf.drop('description', axis='columns', inplace=True)

# Metodo alterno
# from textblob import TextBlob
# popularity_list=[]
# for d in nf['description']:
# #     print(d)
#     analysis=TextBlob(d)
#     analysis=analysis.sentiment
#     print(analysis)
#     popularity=analysis.polarity
#     popularity_list.append(popularity)

Ahora, observemos la tabla nuevamente

In [21]:
nf

,date_added,k_type,k_country,k_rating,k_listed_in,k_obj_ages,polarity,subjectivity
0,"August 14, 2020",1,39,8,3,0,0.050000,0.562500
1,"December 23, 2016",0,308,8,3,0,-0.425000,0.600000
2,"December 20, 2018",0,379,5,5,0,-0.475000,0.575000
3,"November 16, 2017",0,549,4,0,3,0.100000,0.950000
4,"January 1, 2020",0,549,4,3,3,0.900000,1.000000
...,...,...,...,...,...,...,...,...
7782,"October 19, 2020",0,429,8,3,0,-0.329167,0.233333
7783,"March 2, 2019",0,229,6,3,3,-0.325000,0.425000
7784,"September 25, 2020",0,549,8,2,0,-0.333333,0.333333
7785,"October 31, 2020",1,12,9,7,2,0.055556,0.333333
7786,"March 1, 2020",0,473,8,2,0,0.120000,0.440000

# machine learning

Ahora, realizaremos los primeros pasos de predicción de resultados, así que implementaremos el siguiente código

In [22]:
#En esta parte configuraremos nuestra variable de objetivo de predicción
y = nf.k_listed_in
#Escogemos las funciónes que permitiran el predecir la variable categorias
netflix_features = ['k_type','k_country', 'k_rating','k_obj_ages','polarity','subjectivity']
X = nf[netflix_features]
nf.drop("k_listed_in",axis=1,inplace=True)

In [23]:
from sklearn.tree import DecisionTreeClassifier
# Definir el modelo, especificando el número de random_state, para obtener el mismo resultado  
netflix_model = DecisionTreeClassifier(random_state=1)

# ajuste del modelo o Fit 
netflix_model.fit(X, y)

DecisionTreeClassifier(random_state=1)

In [24]:
print('-------------------------------------------------------')
print("Hacer una predicción de prueba para las 5 primeras")
print('-------------------------------------------------------')
print(X.head())
print("Las predicciones son: ")
print(netflix_model.predict(X.head()))

-------------------------------------------------------
Hacer una predicción de prueba para las 5 primeras
-------------------------------------------------------
   k_type  k_country  k_rating  k_obj_ages  polarity  subjectivity
0       1         39         8           0     0.050        0.5625
1       0        308         8           0    -0.425        0.6000
2       0        379         5           0    -0.475        0.5750
3       0        549         4           3     0.100        0.9500
4       0        549         4           3     0.900        1.0000
Las predicciones son:
[3 3 5 0 3]

Ahora agreguemos el calculo del error absoluto medio, pues sabremos que tan desfasado estaría nuestro modelo

In [25]:
from sklearn.metrics import mean_absolute_error

predicted_listed_in = netflix_model.predict(X)
mean_absolute_error(y, predicted_listed_in)

0.16137328018516137

Nuestro modelo funciona exitosamente, pero ahora hagamos un paso importante, este es el uso de datos de entrenamiento, lo que haremos será dividir nuestros datos en en dos, para así entrenar a nuestro modelo

In [26]:
#Usamos la función train_test_split, ya que esta nos permite dividir los datos y usarlos como entrenamiento  
# La división se basa en un generador de números aleatorios. Suministrar un valor numérico a
# el argumento random_state garantiza que obtendremos la misma división cada vez que
# ejecute este script.
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y,train_size=0.80,test_size=0.20, random_state = 1)
# Definir el modelo
netflix_model = DecisionTreeClassifier()
# Ajustar modelo (Fit)
netflix_model.fit(train_X, train_y)

val_predictions = netflix_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

1.417737789203085

Probando el funcionamiento de la predicción con Decision Tree Classifier, crearemos una tabla para comparar los valores de la predicción y el valor real

In [27]:
d_pred=netflix_model.predict(X.head(20))
column_names = ["Predecido Arbol"]
data_df = pd.DataFrame(d_pred,columns=column_names)
data_real=y.head(20)
d = pd.concat([data_df, data_real], axis=1)
d

    Predecido Arbol  k_listed_in
0                 3            3
1                 3            3
2                 5            5
3                 0            0
4                 3            3
5                 3            3
6                 5            5
7                 1            3
8                 5            5
9                 1            5
10                2            3
11                3            3
12                2            2
13                2            2
14                9            9
15                3            3
16                3            3
17                3            3
18                1            1
19                2            2

Ahora implementemos la función random-forest, esa nos permite el uso de mas arboles, haciendo una predicción de las predicciones promedios de los arboles

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestClassifier(random_state=1)
forest_model.fit(train_X, train_y)
nf_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, nf_preds));

1.3721079691516709

Probando el funcionamiento de la predicción con Random Forest

In [29]:
d_pred_f=forest_model.predict(X.head(20))
column_names = ["Predecido Forest"]
data_df = pd.DataFrame(d_pred_f,columns=column_names)
data_real=y.head(20)
d = pd.concat([data_df, data_real], axis=1)
d

    Predecido Forest  k_listed_in
0                  3            3
1                  3            3
2                  5            5
3                  0            0
4                  3            3
5                  3            3
6                  5            5
7                  1            3
8                  5            5
9                  1            5
10                 2            3
11                 3            3
12                 2            2
13                 2            2
14                 9            9
15                 3            3
16                 3            3
17                 3            3
18                 1            1
19                 2            2

Ahora veamos que tan preciso fue nuestro modelo, entendido como el porcentaje de valores clasificados correctamente con respecto al total de elementos.

Para el modelo de arbol

In [30]:
print(netflix_model.score(X,y)*100,'%')

82.25536839398225 %

Para el modelo de bosque

In [31]:
print(forest_model.score(X,y)*100,'%')

82.61540439758261 %

Cuando usamos un metodo de clasificación sea como en este caso RandomForestClassifier, **con base a lo anterior el (Autor en Towards Data Science, 2021) entendemos que el método calcula la puntuación de precisión de forma predeterminada (la precisión es #correct_preds / #all_preds)**. Esto lo hace de forma predeterminada, el método de puntuación no necesita las predicciones reales, de otra forma podemos calcularlo con el metodo de abajo.

Esto seria una predicción mas cercana del valor real que predijimos, tomando en cuenta que se realizo con los datos de entrenamiento

In [32]:
from sklearn.metrics import accuracy_score
# forest_model = RandomForestClassifier()
# forest_model.fit(train_X,train_y)
train_pred = forest_model.predict(train_X)
train_pred
                  
Training_score = accuracy_score(train_pred,train_y) 
print('--------------------------------------------')
print("Puntuación de precisión:",Training_score*100,'%')
print('--------------------------------------------')

--------------------------------------------
Puntuación de precisión: 93.10400257193378 %
--------------------------------------------